.App {
  text-align: center;
}

body{
  background-image: url(193335.jpg);
}

.font0 {
  font-family: "Lucida Console", Courier, monospace;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: oblique;
}

.font1 {
  font-family: "Lucida Console", Courier, monospace;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: oblique
}

.back_image{
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190622/ourmid/pngtree-travel-tourism-exit-e-commerce-taobao-poster-background-image_228414.jpg");
  background-color: #cccccc;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  font-family: "Lucida Console", Courier, monospace;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: oblique;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.card {
  background-image: url("112233.jpg");
  display: inline-block;
  text-align: center;
  width: 3em;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1em;
  user-select: none;
 }
 

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.activeCard {
  color: red;
  background: pink;
}